* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #4200FF 0%, #280099 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 2.36px;
    overflow-x: hidden;
    min-height: 100vh;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    overflow: hidden;
    padding: 20px;
}

.header {
    color: white;
    text-align: center;
    padding: 15px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.image-placeholder{
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo default com borda */
.image-default {
    width: 100%;
    max-width: 200px; /* Limita o tamanho máximo a 300px */
    height: auto; /* Mantém a proporção da imagem */
    flex-shrink: 0;
    margin-top: 5px;
    margin-bottom: -20px;
}

.image-standart{
    width: 100%;
    max-width: 300px; /* Limita o tamanho máximo a 300px */
    height: auto; /* Mantém a proporção da imagem */
    flex-shrink: 0;
    border: none; /* Adiciona uma borda de 2px com cor cinza escura */
    border-radius: 8px; /* Arredonda os cantos da borda */
    opacity: 1;
}

.image-enabled{
    width: 100%;
    max-width: 300px; /* Limita o tamanho máximo a 300px */
    height: auto; /* Mantém a proporção da imagem */
    flex-shrink: 0;
    border: none; /* Adiciona uma borda de 2px com cor cinza escura */
    border-radius: 8px; /* Arredonda os cantos da borda */
    opacity: 1;
}

.image-enabled-border{
    width: 100%;
    max-width: 300px; /* Limita o tamanho máximo a 300px */
    height: auto; /* Mantém a proporção da imagem */
    flex-shrink: 0;
    border: 5px solid #000000; /* Adiciona uma borda de 2px com cor cinza escura */
    border-radius: 8px; /* Arredonda os cantos da borda */
    opacity: 1;
}

.botao-upload {
    display: inline-block;
    padding: 10px 10px;
    color: black;
    background-color: #ffcc00;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
  }
  
.botao-upload:hover {
    background-color: #ffcc00;
}

.form label {
    font-weight: bold;
    margin-top: 10px;
    color: white;
}

.form input, .form textarea {
    width: 100%;
    padding: 16px;
    margin-top: 5px;
    border: 2px solid #000000;
    border-radius: 10px;
    margin-bottom: 7px;
    font-size: 13px;
}

.textarea {
    resize: none;
    height: 60px;
}

.add-button{
    display: flex;
    justify-content: space-between;
}

#add{
    width: 90px;
    height: 40px;
    background-color: #ffcc00;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    display: flex; 
    justify-content: center;
    align-items: center; 
}

#add img {
    height: 15px;
    margin-right: 5px;
}

#clear{
    height: 40px;
    width: 130px;
    background-color: #d10e0e;
    color:#ffffff;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    display: flex; 
    justify-content: center;
    align-items: center; 
}

#clear img {
    height: 25px;
    margin-right: 5px;
}
.input-group {
    display: flex;
    flex-direction: column; /* Coloca o label em cima do input */
    flex: 1; /* Faz com que cada grupo ocupe o mesmo espaço */
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold; /* Opcional */
}

.input-group input {
    width: 100%;
    padding: 16px;
    margin-top: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    margin-bottom: 7px;
    font-size: 13px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input:disabled {
    background-color: white;
    color: black;
    border: 2px solid #000000; 
    opacity: 1; 
    cursor: not-allowed;
}
        
input:disabled:focus {
    outline: none; 
    border-color: #4A90E2;
}

.search-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.search-buttons button {
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    flex-grow: 1;
    margin: 0 5px;
    width: 100px;
    display: flex; /* Usando flexbox para alinhar o conteúdo */
    justify-content: center; /* Alinha horizontalmente o conteúdo */
    align-items: center; /* Alinha verticalmente o conteúdo */
}

.search-buttons img {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
}
#exit{
    height: 40px;
    width: 80px;
    background-color: #ffcc00;
    color: black;
    border: none;
    font-size: 14px;
    padding: 20px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold;
    display: flex; /* Usando flexbox para alinhar o conteúdo */
    justify-content: center; /* Alinha horizontalmente o conteúdo */
    align-items: center; /* Alinha verticalmente o conteúdo */
}

#exit img {
    width: 40px; /* Tamanho da seta */
    height: 25px;
    margin-right: 5px; /* Espaçamento entre o texto e a seta */
}


.buttons button:hover {
    background-color: #e6b800;
}


 /* Faz a tabela ocupar 100% da largura */
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    color:black;
  }

td{
    border: 1px solid black; 
    text-align: center;
}
  th {
    border: 2px solid black; 
    padding: 3px;
    text-align: center;
  }

  th {
    background-color: #D9D9D9;
    font-weight: bold;
  }
tr {
    background-color:#D9D9D9; 
}

.footer {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}


#back{
    height: 40px;
    width: 90px;
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold;
    display: flex; /* Usando flexbox para alinhar o conteúdo */
    justify-content: center; /* Alinha horizontalmente o conteúdo */
    align-items: center; /* Alinha verticalmente o conteúdo */
}

#back img {
    width: 110px; /* Tamanho da seta */
    height: 25px;
    margin-right: 5px; /* Espaçamento entre o texto e a seta */
}

#save{
    width: 80px;
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#save img {
    width: 100px;
    height: 15px;
    margin-right: 5px;
}

.footer .exit {
    width: 80px;
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
}

.footer .exit:hover {
    background-color: #e6b800;
}

.footer .logo img {
    max-width: 100px;
    margin-right: 15px;
    margin-left: 25px;
    flex-shrink: 0;
}

/* Mobile adjustments */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    .footer .logo img {
        width: 100px;
    }

    .buttons {
        flex-direction: column;
        gap: 6px;
    }

    .buttons button {
        width: 95%;
    }
}

/* Input search icon */
.input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    padding: 16px;
    padding-right: 40px; /* Espaço para o ícone de pesquisa */
    border-radius: 10px;
    border: 1px solid #ccc;
}

.plus-icon {
    position: absolute;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 50px;
    color: #000;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
    background-color: #4200FF;
    margin: 50% auto;
    padding: 25px;
    border: 3px solid #000000;
    width: 300px;
    text-align: center;
}

.buttonModalContainer{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.modal-content p{
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: bold;
}

.modal-content button{
    background-color: #28c80f;
    color: #fff;
    border-radius: 30px;
    border: none;
    margin: 10px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    display: flex; /* Usando flexbox para alinhar o conteúdo */
    justify-content: center; /* Alinha horizontalmente o conteúdo */
    align-items: center; /* Alinha verticalmente o conteúdo */
}

#cancelarmodal {
    background-color: #ff2424
}

#cancelarmodal img {
    width: 20px; /* Tamanho da seta */
    height: 20px;
    margin-right: 6px; /* Espaçamento entre o texto e a seta */
}

#salvarmodal img{
    width: px; /* Tamanho da seta */
    height: 30px;
    margin-right: 6px; /* Espaçamento entre o texto e a seta */
}

.modal-Produto {
    display: none; /* Inicialmente o modal está escondido */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fundo transparente */
    padding-top: 60px;
}

.modal-content-Produto img{
    margin: auto;
    display:block;
}
.modal-content-Produto {
    background: radial-gradient(50% 50% at 50% 50%, #4200FF 0%, #280099 100%);
    margin: 5% auto;
    padding: 10px;
    border-radius: 10px;
    border: 4px solid #000000;
    width: 80%;
    max-width: 600px;
    height: 100%;
    max-height: 1000px;
    text-align: center;
}

#modalSaida{
    height: 90%;
}

.modal-content-Produto img{
    border: 4px solid #000;
    border-radius: 5px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.modal-content-Produto label{
    font-size: 15px;
    color: white;
}
.modal-content-Produto input{
    height: 25px;
    width: 200px;
    text-align: center;
    font-size: large;
}

#modalObservacao{
    height: 50px;
}

.excluirModal{
    height: 40px;
    width: 100px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 10px;
}

.excluirModal img {
    height: 25px;
    margin-right: 5px;
    border: none;
}
    
.close {
    color: #ff0000;
    font-size: 70px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 0;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#loadingSpinner {
    position: fixed;
    top: 78%;
    left: 45%;
    width: 50px;
    height: 50px;
    border: 6px solid rgb(255 255 255 / 40%);
    border-top-color: #ffffff;
    border-radius: 100%;
    animation: spin 1s linear infinite;
    z-index: 1000; /* Coloca o spinner acima do conteúdo */
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}