* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #4200FF 0%, #280099 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centraliza os itens horizontalmente */
    font-family: var(--Body-Large-Font, Roboto);
    overflow-x: hidden;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
}

.header {
    background-color: #0000ff;
    color: white;
    text-align: center;
    padding: 15px;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.image-placeholder {
    text-align: center;
    margin-bottom: 20px;
}

.image-placeholder img {
    width: 156px;
    height: 126px;
    flex-shrink: 0;
}

.form label {
    font-weight: bold;
    margin-top: 10px;
}

.form input, .form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 60px;
}

/* Estilo para o container da quantidade */
.quantidade-container {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

#quantidade {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#tipoQuantidade {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#tipoQuantidade:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

#tipoQuantidade option[disabled] {
    color: #888;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.buttons button {
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    flex-grow: 1;
    margin: 0 5px;
}

.buttons button:hover {
    background-color: #e6b800;
}

.table-container {
    padding: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between; /* Espaço entre o botão e o logo */
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}

.footer .exit {
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 75px; /* Espaço entre o botão e o logo */
}

.footer .exit:hover {
    background-color: #e6b800;
}

.footer .logo img {
    width: 156px;
    height: 126px;
    flex-shrink: 0;
    margin-top: -20px;
    margin-left: auto; /* Move o logo para a direita */
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    .footer .logo img {
        width: 100px;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
    }

    .buttons button {
        width: 100%;
    }
}
