body {
    background: #004099; /* Cor de fundo do site */
    margin: 50px; /* Define uma margem de 50px em todos os lados da tela */
    border: 2px solid black; /* Define a borda preta */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px); /* Altura da tela menos a margem */
    flex-direction: column;
    box-shadow: 0 0 0 50px #413a3a8f; /* Adiciona uma sombra para simular a margem azul */
}

h1 {
    width: 1150px;
    height: 60px;
    color: #ffffff;
    margin: 50px; /* Margem superior, direita, inferior e esquerda */
    border: 1px solid black; /* Define a borda preta */
    font-size: 24px;
    font-weight: 400;
    text-align: center; /* Centraliza o texto horizontalmente */
    border-radius: 10px; /* Borda */
    background-color: #1d2a3df1;
}

h2 {
    width: 1150px;
    height: 60px;
    color: #ffffff;
    margin: 50px; /* Margem superior, direita, inferior e esquerda */
    border: 1px solid black; /* Define a borda preta */
    font-size: 24px;
    font-weight: 400;
    text-align: center; /* Centraliza o texto horizontalmente */
    border-radius: 10px; /* Borda */
    background-color: #1d2a3df1;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Garante que o contêiner ocupe toda a largura disponível */
}

.center-form, .center-table {
    width: 80%;
    max-width: 600px;
    margin: 10px 0; /* Adiciona uma margem vertical para espaçamento */
}

.table {
    width: 95%; /* Define a largura da tabela como 100% do contêiner pai */
    background-color: white; /* Define a cor de fundo da tabela como branco */
    border-radius: 20px; /* Adiciona bordas arredondadas */
    overflow: hidden; /* Garante que o conteúdo da tabela não ultrapasse as bordas arredondadas */
}

label {
    width: 100%;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px; /* Adiciona uma margem inferior para espaçamento */
}

.form-container {
    background-color: white; /* Cor de fundo do formulário */
    padding: 20px;
    border-radius: 15px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    width: 400px; /* Define a largura do formulário */
    max-width: 90%; /* Garante que o formulário não ultrapasse 90% da largura da tela */
}

.form-container label, .form-container input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: yellow;
    border-color: yellow; /* Se você também quiser mudar a cor da borda */
    color: black;
}

.btn {
    display: inline-block;
    padding: 5px 10px; /* Reduz o padding dos botões */
    background-color: yellow; /* Cor de fundo amarela */
    color: black; /* Cor do texto preta */
    text-align: center;
    text-decoration: none;
    border: 1px solid yellow; /* Cor da borda amarela */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    margin: 5px; /* Reduz a margem dos botões */
}

.btn:hover {
    background-color: #ffd700; /* Cor de fundo ao passar o mouse */
    border-color: #FFF; /* Cor da borda ao passar o mouse */
    
}

.delete-form {
    display: flex; /* Define um layout flexível */
    flex-direction: column; /* Alinha os itens em uma coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    max-width: 400px; /* Define a largura máxima do formulário */
    margin: auto; /* Centraliza o formulário na página */
    padding: 20px; /* Adiciona espaçamento interno */
    border: 1px solid #000000; /* Define a borda preta */
    border-radius: 10px; /* Arredonda os cantos da borda */
    background-color: #f9f9f9; /* Define a cor de fundo */
}

.delete-form label {
    margin-bottom: 10px; /* Adiciona espaçamento abaixo do rótulo */
    font-weight: bold; /* Define o texto em negrito */
    color: #000000; /* Define a cor do texto para preto */
}

.delete-form input[type="text"] {
    width: 100%; /* Define a largura do campo de texto para 100% do contêiner */
    padding: 10px; /* Adiciona espaçamento interno */
    margin-bottom: 20px; /* Adiciona espaçamento abaixo do campo de texto */
    border: 1px solid #585858; /* Define a borda cinza */
    border-radius: 5px; /* Arredonda os cantos da borda */
    color: #000000; /* Define a cor do texto para preto */
}

.delete-form input[type="submit"] {
    padding: 10px 20px; /* Adiciona espaçamento interno */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Arredonda os cantos da borda */
    background-color: #ff4d4d; /* Define a cor de fundo */
    color: #000000; /* Define a cor do texto para preto */
    cursor: pointer; /* Muda o cursor para uma mãozinha ao passar sobre o botão */
}

.delete-form input[type="submit"]:hover {
    background-color: #ff1a1a; /* Muda a cor de fundo ao passar o mouse */
}
