* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #4200FF 0%, #280099 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 2.36px;
    overflow-x: hidden;
    min-height: 100vh;
    padding: 20px;
}

.header {
    color: white;
    text-align: center;
    padding: 15px;
}

.header h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 16px;
    max-width: 1200px;
    width: 90%;
    background: linear-gradient(180deg, #D9D9D9 0%, #737373 100%);
    border-radius: 8px;
}

.form {
    width: 95%; /* Faz com que o formulário ocupe 100% da largura do container */
    display: flex;
    flex-direction: column; /* Para empilhar os elementos verticalmente */
}

button {
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 5px;
    height: 42px;
    width: 150px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e6b800;
}

.input-container{
    position: relative;
    width: 100%; /* Define a largura do container do input */
    display: flex;
    align-items: center;
}

.buttons, .buttons-search, .buttons-edit {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-bottom: 20px;
    margin-top: 10px;
}

select, input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
    margin-bottom: 18px;
}

select:focus, input:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-color: #ffcc00;
}

.BotoesFooter {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.logo{
    display: flex;
    justify-content: center;
}
.logo img {
    width: 100%; /* A imagem ocupa 100% da largura disponível */
    height: auto; /* Mantém a proporção da imagem */
    max-width: 238px; /* Limita a largura máxima */
    margin-bottom: 50px; /* Espaço menor para telas pequenas */
}

@media (min-width: 600px) {
    .logo img {
        margin-bottom: 75px; /* Ajusta o espaçamento para telas médias */
    }
}

@media (min-width: 1024px) {
    .logo img {
        margin-bottom: 100px; /* Mantém o espaçamento original em telas grandes */
    }
}
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    .buttons {
        flex-direction: column;
        gap: 6px;
    }

    .buttons button {
        width: 95%;
    }
}