body {
    background: #004099; /* Cor de fundo do site */
    margin: 50px; /* Define uma margem de 50px em todos os lados da tela */
    border: 2px solid black; /* Define a borda preta */
    display: flex; /* Utiliza o layout flexbox */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    min-height: calc(100vh - 100px); /* Altura da tela menos a margem */
    flex-direction: column; /* Organiza os elementos em coluna */
    box-shadow: 0 0 0 50px #413a3a8f; /* Adiciona uma sombra para simular a margem azul */
}

h1, h2 {
    width: 1150px; /* Largura dos títulos */
    height: 60px; /* Altura dos títulos */
    color: #ffffff; /* Cor do texto */
    margin: 50px; /* Margem superior, direita, inferior e esquerda */
    border: 1px solid black; /* Define a borda preta */
    font-size: 24px; /* Tamanho da fonte */
    font-weight: 400; /* Peso da fonte */
    text-align: center; /* Centraliza o texto horizontalmente */
    border-radius: 10px; /* Bordas arredondadas */
    background-color: #1d2a3df1; /* Cor de fundo dos títulos */
}

.center-container {
    display: flex; /* Utiliza o layout flexbox */
    flex-direction: column; /* Organiza os elementos em coluna */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    width: 100%; /* Garante que o contêiner ocupe toda a largura disponível */
}

.center-form, .center-table {
    width: 80%; /* Largura dos formulários e tabelas */
    max-width: 600px; /* Largura máxima dos formulários e tabelas */
    margin: 10px 0; /* Adiciona uma margem vertical para espaçamento */
    padding: 20px; /* Adiciona padding para espaçamento interno */
    background-color: #ffffff; /* Cor de fundo para destacar o formulário */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar o formulário */
}

.table {
    width: 95%; /* Define a largura da tabela como 95% do contêiner pai */
    background-color: white; /* Define a cor de fundo da tabela como branco */
    border-radius: 20px; /* Adiciona bordas arredondadas */
    overflow: hidden; /* Garante que o conteúdo da tabela não ultrapasse as bordas arredondadas */
}

label {
    width: 100%; /* Largura dos labels */
    color: black; /* Cor do texto dos labels */
    font-size: 18px; /* Tamanho da fonte dos labels */
    font-weight: 400; /* Peso da fonte dos labels */
    margin-bottom: 10px; /* Adiciona uma margem inferior para espaçamento */
}

input, button {
    width: 100%; /* Garante que os inputs e botões ocupem toda a largura disponível */
    padding: 10px; /* Adiciona padding para espaçamento interno */
    margin-bottom: 10px; /* Adiciona uma margem inferior para espaçamento */
    border-radius: 5px; /* Bordas arredondadas */
    border: 1px solid #ccc; /* Borda cinza clara */
    font-size: 16px; /* Tamanho da fonte */
    background: rgb(179, 179, 173);
    
}

button {
    background: yellow ; /* Cor de fundo do botão */
    color: black; /* Cor do texto do botão */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
}

button:hover {
    background-color: yellow; /* Cor de fundo do botão ao passar o mouse */
}
