
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #4200FF 0%, #280099 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.36px;
    overflow-x: hidden;
    min-height: 100vh;
    padding: 20px;
}

.Fundo {
    width: 100%;
    /*height: 100vh; /* Faz a div ocupar 100% da altura da tela */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; /* Cor do texto para contraste */
    text-align: center; /* Centraliza o texto */
}


.container {
    display: flex;
    justify-content: space-between; /* Espaça as colunas igualmente */
    width: 80%; /* Ajuste a largura conforme necessário */
    gap: 45px; /* Adiciona espaço entre as colunas */
    padding: 35px;
    
}


.coluna {
    display: flex;
    flex-direction: column; /* Coloca os botões em coluna */
    gap: 45px; /* Espaço entre os botões */
}

.Relatorios {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px; /* Tamanho da fonte */
    font-weight: 700;
    padding: 15px; /* Aumenta o padding para mais espaço interno */
    background-color: #edeff2; /* Cor de fundo */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Arredonda os cantos */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s; /* Transição suave para mudança de cor */
}

.Relatorios:hover {
    background-color: #4200FF; /* Cor ao passar o mouse */
}

input[type="date"] {
    padding: 10px;                     /* Espaçamento interno */
    font-size: 32px;                   /* Tamanho da fonte */
    border: 1px solid #ccc;            /* Borda padrão */
    border-radius: 25px;                /* Bordas arredondadas */
    background-color: #fff;            /* Cor de fundo */
    color: #333;                       /* Cor do texto */
    transition: border-color 0.3s;     /* Efeito de transição na borda */
    width: 335px;
    height: 83px;
    margin-top: 19px;                      /* Largura do campo */
}

input[type="date"]:focus {
    border-color: #007bff;             /* Cor da borda ao focar */
    outline: none;                     /* Remove a borda de foco padrão */
}

.Opcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*.RodaPe {
    display: flex;
    align-items: normal;
    padding: 2px;
    background-color: #333;
    color: white;
}*/

.Emporio img {
    max-width: 100%;
    height: 125px;
    width: 148px;
    margin-left: 15px;
}

.Logo-RodaPe img {
    max-width: 185px;
    height: 75px;
    width: 80px;
    margin-left: 155px;
    margin-top: 29px;
   
}

@media (min-width: 600px) {
    .Opcoes {
        flex-direction: row;
        justify-content: space-around;
    }
}