/* Define o modelo de caixa para incluir padding e border na largura e altura total dos elementos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Define a fonte padrão da página, altura e layout */
body,
html {
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #D9D9D9 0%, #737373 100%);
}

/* Configura o contêiner principal */
.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: auto;
    max-width: 400px;
    width: 100%;
}

/* Configura o cabeçalho fixo no topo da página */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    background-color: #0000ff;
    height: 48px;
}

/* Configura o rodapé na parte inferior da página */
.footer {
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px;
    background: linear-gradient(90deg, #4200FF 0%, #280099 100%);
    padding: 0 20px;
    position: fixed; 
}

/* Configura o título principal */
h1 {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Kodchasan, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2.8px;
}

/* Configura o botão de voltar */
.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #FFFF00;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Efeito hover para o botão de voltar */
.back-button:hover {
    background-color: #ffd700;
}

/* Configura a logo */
.logo {
    height: auto;
    margin: auto;
}

/* Configura a área de conteúdo principal */
.content {
    padding: 100px 20px 10px;
    flex-grow: 1;
}

/* Configura o grupo de botões */
.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 20px;
}

/* Configura os botões em geral */
.btn {
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
}

/* Configura o botão amarelo */
.yellow-btn {
    background-color: #ffea00;
    color: #000;
    border-radius: 5px;
}

/* Configura o formulário */
.form {
    display: flex;
    flex-direction: column;
}

/* Estilo para os rótulos do formulário */
.form label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

/* Estilo para inputs de texto e áreas de texto no formulário */
.form input[type="text"],
.form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Configura a altura do campo de nome do local */
#nome-do-local {
    display: flex;
    height: 76px;
}

/* Estilo para o tipo de nome no contêiner */
.container .nome-tipo {
    color: #000;
    font-family: Kodchasan;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.92px;
}

/* Configura o grupo de checkboxes */
.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

/* Estilo para os rótulos dos checkboxes */
.checkbox-label {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Estilo para o texto dentro dos checkboxes */
.checkbox-text {
    background-color: #1D1B20;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    width: 100%;
    display: flex;
    width: 286px;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    gap: var(--Space-200, 8px);
    flex-shrink: 0;
    border-radius: 10px;
    border: var(--sds-size-stroke-border) solid #000;
    background: var(--Schemes-Surface-Container-Low, #F3F3F3);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    color: #6E6363;
    font-family: Kodchasan;
    font-size: 24px;
    font-style: normal;
    letter-spacing: 3.36px;
}

/* Estilo para checkboxes */
.checkbox-label input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #737373;
}

/* Configura o contêiner para inputs */
.input-container {
    position: relative;
    display: inline-block;
}

/* Estilo para o campo de nome do local */
#nome-do-local {
    padding-left: 20px;
    overflow: auto;
    resize: vertical;
    width: 100%;
    box-sizing: border-box;
}

/* Estilo para o asterisco indicativo */
.input-container::before {
    content: "*";
    position: absolute;
    left: 12px;
    top: 22%;
    transform: translateY(-50%);
    color: #6E6363;
    font-size: 1.2em;
}

/* Estilo do asterisco */
.asterisco {
    color: #6E6363;
}

/* Estilo para áreas de texto */
.textarea {
    overflow: auto;
    resize: vertical;
    width: 100%;
    box-sizing: border-box;
}

/* Estilos para reaproveitamento e descarte */
.reaproveitamento,
.descarte {
    background-color: #1D1B20;
    color: #6E6363;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Estilos para inputs e textareas desabilitados */
input:disabled,
textarea:disabled {
    color: #6E6363;
    cursor: not-allowed;
}

/* Estilo para placeholders de inputs e textareas desabilitados */
input:disabled::placeholder,
textarea:disabled::placeholder {
    color: #6E6363;
}

/* Estilo para o botão "sair" */
.newbuttonsair {
    background-color: #FF4500; 
    color: white;
    margin-left: 10px;
}

/* Estilo para o grupo de botões no rodapé */
.footer-buttons {
    display: flex;
    justify-content: flex-end; 
    flex-grow: 1; 
}

/* Estilo para a logo no rodapé */
.footer img.logo {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    height: auto; 
    z-index: 1; 
}

/* Estilo para o botão de salvar */
#saveButton {
    position: absolute;
    bottom: 52%;
    background-color: #FFFF00;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 13px;
    gap: 3px;
}

.no-underline {
    text-decoration: none; /* Remove o sublinhado */
}

.button-group a {
    display: inline-block; /* Garante que o link se comporte como um botão */
}


/* Media query para telas maiores */
@media (min-width: 768px) {
    .container {
        max-width: 600px;
    }
}
