* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #4200FF 0%, #280099 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.36px;
    overflow-x: hidden;
    min-height: 100vh;

}

.Conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; /* Certifica que ocupe 100% da altura */
    text-align: center;
}


.FundoLogin {
    width: 100%;
    height: 100vh; /* Faz a div ocupar 100% da altura da tela */
    background: radial-gradient(50% 50% at 50% 50%, #4200FF 0%, #280099 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centraliza os itens horizontalmente */
    box-sizing: border-box; /* Para garantir que padding e border sejam incluídos na largura e altura */
    overflow: hidden;
}

.perfil img{
    width: 150px;
    margin-bottom: 10px;

}

.input-field {
    background-color: #e0e0e0;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    width: 70%;
    font-size: 14px;
    text-align: center;
  }



.Cadeado img{
    width: 27px;
    height: 20px;
    padding: 6px;
}

.link {
    color: #ffeb3b; /* Altere para a cor que deseja */
    text-decoration: none; /* Remove o sublinhado */
    cursor: pointer;
  }
  
  .link:hover {
    text-decoration: underline; /* Sublinhado quando passar o mouse */
  }
  
  .EsqueciSenha {
    display: inline-flex;
    padding: var(--sds-size-space-200);
    justify-content: center;
    align-items: center;
    gap: var(--sds-size-space-200);
    margin-bottom: 13px;
  }
.textoesquecisenha{
    color: #FFEF0D;
    /* Single Line/Body Base */
    font-family: var(--sds-typography-body-font-family);
    font-size: var(--sds-typography-body-size-medium);
    font-style: normal;
    font-weight: var(--sds-typography-body-font-weight-regular);
    line-height: 100%; /* 16px */

}

.botaoDiv {
    display: flex;
    justify-content: center; /* Centraliza o botão horizontalmente */
    align-items: center;     /* Centraliza o botão verticalmente */
    /* width: 246px; */
    margin: 60px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #FFEF0D; /* Fundo amarelo */
    margin-top: 20px;    /* Espaçamento superior */
    margin-bottom: 20px; /* Espaçamento inferior */
}


.botao {
    width: 100%;
    height: 100%;
    background-color: transparent; /* Fundo transparente */
    border: none; /* Sem borda */
    color: #000; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold;
    cursor: pointer; /* Muda o cursor para indicar um botão */
    
}

.botao:focus {
    outline: none; /* Remove a borda de foco ao clicar */
}

.botao:hover {
    opacity: 0.8; /* Efeito de hover para mudar a opacidade */
}

.Emporio img{
    width: 238px;
    height: 175px;
    flex-shrink: 0;
}