body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 93%;
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #4200FF 0%, #280099 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.36px;
    overflow-x: hidden;
    min-height: 100vh;
    padding: 20px;
}

.Conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; /* Certifica que ocupe 100% da altura */
    text-align: center;
}


.FundoLogin {
    width: 100%;
    height: 100vh; /* Faz a div ocupar 100% da altura da tela */
    background: radial-gradient(50% 50% at 50% 50%, #4200FF 0%, #280099 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centraliza os itens horizontalmente */
    box-sizing: border-box; /* Para garantir que padding e border sejam incluídos na largura e altura */
    overflow: hidden;
}

.perfil img{
    width: 150px;
    margin-bottom: 10px;

}

.Redefinir{
    display: flex;
    width: 284px;
    height: 340px;
    padding: 20px 15px;
    flex-direction: column;

    gap: 20px;
    flex-shrink: 0;
    border-radius: 37px;
    border: 2px solid #000;
    background: #3600D0;
    backdrop-filter: blur(2px);
}


  .input-field[disabled] {
    opacity: 0.7;
  }
  
  

  .label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #FFF;
    margin-top: 2px;
    font-size: 20px;
  }

.ConfirmaSenha{
    margin-right: 66px;
    margin-bottom: 30px;
    font-size: 18px;
    width: 205px;
    color: whitesmoke;
}

.botaoDiv1 {
    display: flex;
    width: 95px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--Space-200, 8px);
    flex-shrink: 0;
    border-radius: 100px;
    background: #FFF;
    margin-bottom: 100px;
    margin-right: 170px;
    margin-top: 16px;
}

.botao1 {
    width: 100%;
    height: 100%;
    background-color: transparent; /* Fundo transparente */
    border: none; /* Sem borda */
    color: #000; /* Cor do texto */
    font-size: 19px; /* Tamanho da fonte */
    font-weight: bold;
    cursor: pointer; /* Muda o cursor para indicar um botão */

}


.botao:focus {
    outline: none; /* Remove a borda de foco ao clicar */
}

.botao:hover {
    opacity: 0.8; /* Efeito de hover para mudar a opacidade */
}


.botaoDiv2 {
    display: flex;
    width: 95px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--Space-200, 8px);
    flex-shrink: 0;
    border-radius: 100px;
    background: #FFF;
    margin-bottom: 100px;
    margin-top: -141px;
    margin-left: 180px;
}

.botao2 {
    width: 100%;
    height: 100%;
    background-color: transparent; /* Fundo transparente */
    border: none; /* Sem borda */
    color: #000; /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
    font-weight: bold;
    cursor: pointer; /* Muda o cursor para indicar um botão */
  
}


.botao:focus {
    outline: none; /* Remove a borda de foco ao clicar */
}

.botao:hover {
    opacity: 0.8; /* Efeito de hover para mudar a opacidade */
}

.Emporio img{
    width: 238px;
    height: 175px;
    flex-shrink: 0;
}

.input-container {
    position: relative;
    width: 100%; /* Define a largura do container do input */
    display: flex;
    align-items: center;
}

.input-field {
    display: block;
    margin-bottom: 5px;
    border: none;
    border-radius: 10px;
    padding: 13px;
    width: 80%;
    font-size: 14px;
    text-align: center;
    padding-right: 40px; /* Adiciona espaço para o ícone à direita */
}

.toggle-visibility {
    position: absolute;
    top: 10px;
    right: 10px; /* Posiciona o ícone à direita dentro do input */
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #000;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

